<style>
a:hover {
  color: #802bb1;
}
div#wrapper {
	max-width: 1200px;
}
.progress-ring-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: dash 0.45s linear forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 251;
  }
}
.progress-bar {
  animation: slidein 0.45s linear forwards;
}
@keyframes slidein {
  from {
    width:0;
  }
}
.flash-success, .flash-error {
  margin: 20px;
}
</style>
<div class="flex-none sm:flex sm:space-x-8 mt-8 sm:mx-32 mx-4 mb-8">
<div class="w-full sm:w-1/3">
<div class="shadow-lg rounded-lg border-flamingo-800 border-b-4 py-2 mb-2 bg-white">
<section class="my-6 text-gray-700 body-font mb-4">
    <div class="text-center mb-2">
      <img src="<%= @company.company_logo %>" class="w-20 h-20 m-auto rounded-full border">
      <h1 class="sm:text-2xl text-xl font-bold text-center title-font text-gray-900 my-4"><%= @company.company_name %></h1>
      <% if @company.website_link.present? %><a href="<%= @company.website_link %>" target="_blank" class="sm:text-xl text-lg mx-2"><%= fa_icon "link" %></a><% end %>
      <% if @company.company_twitter.present? %><a href="<%= @company.company_twitter %>" target="_blank" class="sm:text-xl text-lg mx-2"><%= fa_icon "twitter" %></a><% end %>
      <% if @company.linkedin_url.present? %><a href="<%= @company.linkedin_url %>" target="_blank" class="sm:text-xl text-lg mx-2"><%= fa_icon "linkedin" %></a><% end %>
    </div>
</section>
</div>
</div>
<div class="w-full sm:w-2/3">
<section class="mb-4 text-center">
  <h2 class="mt-0">Top contributions by <%= @company.company_name %></h2>
</section>
<section class="mx-auto my-0">
  <%= render 'shared/articles_2_in_row', articles:@articles, suffix:"a" %>
</section>
</div>
</div>
<br/><br/>
