<% meta_tag("og_title", @post.title) %>
<% meta_tag("og_description", @post.meta_description) %>
<% meta_tag("og_url", request.url) %>
<% meta_tag("og_site_name", "Buildd.co") %>
<% meta_tag("og_twitter_title", @post.title) %>
<% meta_tag("og_twitter_description", @post.meta_description) %>

<div class="mt-8 sm:mx-32 mx-4">
<!--<section class="top-section mt-0 sm:mt-4 mb-4 text-gray-700 body-font">
  <div class="text-center">
  </div>
  <div>
  </div>
</section>-->
<section class="blog-section sm:flex flex-none sm:space-x-8 mt-0 sm:mt-4 mb-4 text-gray-700 body-font sm:text-lg text-sm">
<div class="sm:w-3/4 sm:mx-auto bg-white sm:px-12 px-2 sm:py-4 py-2">
  <h1 class="sm:text-3xl text-xl text-center title-font text-flamingo-800 m-auto pt-8 pb-2 leading-none tracking-tight px-2"><%= @post.h1 %></h1>
  <% if @post.h2.present? %>
  <h2 class="sm:text-xl text-base text-gray-500 font-light text-center title-font m-auto pt-2 pb-8 leading-snug tracking-tight px-2"><%= @post.h2 %></h2>
  <% end %>
<% if @post.content.present? %>
<%= @post.content.html_safe %>
<% end %>
</div>
<div class="sm:w-1/4 sm:mx-auto mt-4 sm:mt-0">
  <% if @core_article.present? %>
  <div>

  </div>
  <% else %>
  <% if @related_articles.present? %>
  <div class="sm:mb-8 mb-4 sm:mx-2 mx-0 px-2 body-font sm:text-base text-sm">
    <h3>Related Articles</h3>
    <div class="bg-white border-flamingo-800 border-t-4 block my-2 px-4 py-2">
    <% @related_articles.each_with_index do |article, index| %>
    <p class="my-2"><a href="<%= @related_articles_urls[index] %>" class="no-underline text-gray-700" target="_blank"><%= article %></a></p>
    <% end %>
    </div>
  </div>
  <% end %>
  <% if @top_articles.present? %>
  <div class="sm:mb-8 mb-4 sm:mx-2 mx-0 px-2 body-font sm:text-base text-sm">
    <h3>Top Articles</h3>
    <div class="bg-white border-flamingo-800 border-t-4 block my-2 px-4 py-2">
    <% @top_articles.each_with_index do |article, index| %>
    <p class="my-2"><a href="<%= @top_articles_urls[index] %>" class="no-underline text-gray-700" target="_blank"><%= article %></a></p>
    <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
  <% if @core_article.present? %>
  <% if @author.present? %>
  <div class="px-3 py-3 mx-2 mb-4 border rounded bg-white">
    <center>
    <h3 class="font-normal text-gray-700">Author</h3>
    <a href="/<%= @company.slug %>/community" class="no-underline text-gray-700 font-bold" target="_blank">
    <p><img class="w-16 h-16 rounded-full border" src="<%= @core_article.author.pic %>"/></p>
    <p><%= @author.name %></p>
    <div class="text-center mb-2">
        <% if @author.website.present? %><a href="<%= @author.website %>" target="_blank" class="sm:text-xl text-lg mx-2"><%= fa_icon "link" %></a><% end %>
        <% if @author.twitter.present? %><a href="<%= @author.twitter %>" target="_blank" class="sm:text-xl text-lg mx-2"><%= fa_icon "twitter" %></a><% end %>
        <% if @author.linkedin.present? %><a href="<%= @author.linkedin %>" target="_blank" class="sm:text-xl text-lg mx-2"><%= fa_icon "linkedin" %></a><% end %>
    </div>
    </a>
    </center>
  </div>
  <% end %>
  <div class="sticky top-10">
    <div class="px-3 py-3 mx-2 border rounded bg-white">
      <center>
      <h3 class="font-normal text-gray-700">Contributed by</h3>
      <a href="/<%= @company.slug %>/community" class="no-underline text-gray-700 font-bold" target="_blank">
      <p><img class="w-16 h-16 rounded-full border" src="<%= @company.company_logo %>"/></p>
      <p><%= @company.company_name %></p>
      </a>
      </center>
    </div>
    <div class="px-3 py-3 mt-4 mx-2 border rounded bg-white">
      <div class="text-center py-2 px-1">
          Subscribe for early access and launch updates
      </div>
      <%= form_with model: @newsletter_subscriber, url: create_newsletter_subscriber_path, local: true, class: "mt-2" do |f| %>
      <center>
      <div class="mb-2 px-1 max-w-screen-md">
      <div class="px-0 mb-2">
      <input name="newsletter_subscriber[name]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500" id="inline-full-name" type="text" placeholder="Name" required oninvalid="this.setCustomValidity('Enter your name here')" oninput="this.setCustomValidity('')">
      </div>
      <div class="px-0 mb-2">
      <input name="newsletter_subscriber[email]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500 required" id="inline-full-name" type="email" placeholder="Email" required oninvalid="this.setCustomValidity('Enter your email here')" oninput="this.setCustomValidity('')">
      </div>
      <div class="px-0">
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-base leading-5 font-medium rounded-md text-white bg-flamingo-800 hover:bg-white hover:text-flamingo-800 hover:border-gray-700 transition duration-150 ease-in-out">Sign me up!</button>
      </div>
      </div>
      </center>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="sticky top-10 px-3 py-3 mx-2 border rounded bg-white">
    <div class="text-center py-2 px-1">
        Subscribe for early access and launch updates.
    </div>
    <%= form_with model: @newsletter_subscriber, url: create_newsletter_subscriber_path, local: true, class: "mt-2" do |f| %>
    <center>
    <div class="mb-2 px-1 max-w-screen-md">
    <div class="px-0 mb-2">
    <input name="newsletter_subscriber[name]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500" id="inline-full-name" type="text" placeholder="Name" required oninvalid="this.setCustomValidity('Enter your name here')" oninput="this.setCustomValidity('')">
    </div>
    <div class="px-0 mb-2">
    <input name="newsletter_subscriber[email]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500 required" id="inline-full-name" type="email" placeholder="Email" required oninvalid="this.setCustomValidity('Enter your email here')" oninput="this.setCustomValidity('')">
    </div>
    <div class="px-0">
    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-base leading-5 font-medium rounded-md text-white bg-flamingo-800 hover:bg-white hover:text-flamingo-800 hover:border-gray-700 transition duration-150 ease-in-out">Sign me up!</button>
    </div>
    </div>
    </center>
    <% end %>
  </div>
  <% end %>
</div>
</section>
<br/><br/>
</div>
