<% meta_tag("og_title", @post.title) %>
<% meta_tag("og_description", @post.meta_description) %>
<% meta_tag("og_url", request.url) %>
<% meta_tag("og_site_name", "Buildd.co") %>
<% meta_tag("og_twitter_title", @post.title) %>
<% meta_tag("og_twitter_description", @post.meta_description) %>

<style>
html, body {
  font-family: 'DM Sans', sans-serif !important;
}
.top-section. .navbar {
  font-family: 'Inter', sans-serif;
}
</style>
<div class="mt-8 sm:mx-32 mx-4">
<section class="top-section mt-0 sm:mt-4 mb-4 text-gray-700 body-font">
  <div class="text-center">
    <h1 class="sm:text-6xl text-4xl font-extrabold text-center title-font text-flamingo-800 m-auto pt-8 pb-2 leading-none tracking-tight"><%= @post.h1 %></h1>
    <% if @post.h2.present? %>
    <h2 class="sm:text-2xl text-xl font-light text-center title-font m-auto pt-2 pb-8 leading-snug tracking-tight"><%= @post.h2 %></h2>
    <% end %>
  </div>
  <div>
  </div>
</section>
<section class="blog-section sm:flex flex-none sm:space-x-8 mt-0 sm:mt-4 mb-4 text-gray-700 body-font sm:text-lg text-md">
<div class="sm:w-3/4 sm:mx-auto">
<% if @post.content.present? %>
<%= @post.content.html_safe %>
<% end %>
</div>
<div class="sm:w-1/4 sm:mx-auto mt-4 sm:mt-0">
  <% if @core_article.present? %>
  <div>

  </div>
  <% else %>
  <% if @related_articles.present? %>
  <div class="sm:mb-8 mb-4 sm:mx-2 mx-0 px-2 body-font sm:text-lg text-md">
    <h3>Related Articles</h3>
    <div class="bg-gray-100 border-flamingo-800 border-t-4 block my-2 px-4 py-2">
    <% @related_articles.each_with_index do |article, index| %>
    <p><a href="<%= @related_articles_urls[index] %>" class="no-underline text-gray-700" target="_blank"><%= article %></a></p>
    <% end %>
    </div>
  </div>
  <% end %>
  <% if @top_articles.present? %>
  <div class="sm:mb-8 mb-4 sm:mx-2 mx-0 px-2 body-font sm:text-lg text-md">
    <h3>Top Articles</h3>
    <div class="bg-gray-100 border-flamingo-800 border-t-4 block my-2 px-4 py-2">
    <% @top_articles.each_with_index do |article, index| %>
    <p><a href="<%= @top_articles_urls[index] %>" class="no-underline text-gray-700" target="_blank"><%= article %></a></p>
    <% end %>
    </div>
  </div>
  <% end %>
  <% end %>
  <% if @core_article.present? %>
  <div class="sticky top-10">
    <div class="px-3 py-3 mx-2 border rounded">
      <h3>Contributed by</h3>
      <p><a href="/<%= @company.slug %>/community" class="no-underline text-gray-700" target="_blank"><%= @company.company_name %></a></p>
    </div>
    <div class="px-3 py-3 mt-4 mx-2 border rounded">
      <div class="text-center py-2 px-1">
          Subscribe for early access and launch updates.
      </div>
      <%= form_with model: @newsletter_subscriber, url: create_newsletter_subscriber_path, local: true, class: "mt-2" do |f| %>
      <center>
      <div class="mb-2 px-1 max-w-screen-md">
      <div class="px-0 mb-2">
      <input name="newsletter_subscriber[name]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500" id="inline-full-name" type="text" placeholder="Name" required oninvalid="this.setCustomValidity('Enter your name here')" oninput="this.setCustomValidity('')">
      </div>
      <div class="px-0 mb-2">
      <input name="newsletter_subscriber[email]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500 required" id="inline-full-name" type="email" placeholder="Email" required oninvalid="this.setCustomValidity('Enter your email here')" oninput="this.setCustomValidity('')">
      </div>
      <div class="px-0">
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-base leading-5 font-medium rounded-md text-white bg-flamingo-800 hover:bg-white hover:text-flamingo-800 hover:border-gray-700 transition duration-150 ease-in-out">Sign me up!</button>
      </div>
      </div>
      </center>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="sticky top-10 px-3 py-3 mx-2 border rounded">
    <div class="text-center py-2 px-1">
        Subscribe for early access and launch updates.
    </div>
    <%= form_with model: @newsletter_subscriber, url: create_newsletter_subscriber_path, local: true, class: "mt-2" do |f| %>
    <center>
    <div class="mb-2 px-1 max-w-screen-md">
    <div class="px-0 mb-2">
    <input name="newsletter_subscriber[name]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500" id="inline-full-name" type="text" placeholder="Name" required oninvalid="this.setCustomValidity('Enter your name here')" oninput="this.setCustomValidity('')">
    </div>
    <div class="px-0 mb-2">
    <input name="newsletter_subscriber[email]" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-azure-radiance-500 required" id="inline-full-name" type="email" placeholder="Email" required oninvalid="this.setCustomValidity('Enter your email here')" oninput="this.setCustomValidity('')">
    </div>
    <div class="px-0">
    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-base leading-5 font-medium rounded-md text-white bg-flamingo-800 hover:bg-white hover:text-flamingo-800 hover:border-gray-700 transition duration-150 ease-in-out">Sign me up!</button>
    </div>
    </div>
    </center>
    <% end %>
  </div>
  <% end %>
</div>
</section>
<br/><br/>
</div>
