<style>
html{
        overflow-x: hidden;
}
body{
      background-color:#fff;
      overflow:"hidden";
}
.background-grad{
    background: linear-gradient(213.44deg, #8A5CF6 9.9%, rgba(255, 255, 255, 0) 53.27%);

}
.height-20{
    height:20vh;
}
</style>
<div class="h-full w-full"> 
    <div class="container overflow-hidden">
        <div>
        <div class="height-20">
            <div class="cont h-full flex justify-end items-end justify-between">
                <div class="left h-full flex items-center">
                    <div class="">
                        <div class="text-fos-h1 font-black">Founder Stories</div>
                        <div class="text-fos-h3 font-light text-steelGrey">Read stories about Startup Moguls who revolutionised the industry
                            simply by taking the leap!</div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="slider mt-2">
        <div class="img flex overflow-hidden cursor-grab">
        <div class="flex" data-controller="scroll-slider" data-scroll-slider-slide-value="500">
        <div class="h-full flex items-center justify-center mr-1">
        <div data-action="click->scroll-slider#scroll" 
          data-scroll-slider-direction-param="back" 
          data-scroll-slider-target="back" 
          class="w-16 h-16 bg-white border-4 border-slate-400 rounded-full hidden md:flex flex-col justify-center items-center z-10 cursor-pointer select-none">
          <%= image_tag("scroll-right-icon.svg", class: "vector-icons-l rotate-180") %>
        </div>
        </div>
        <div class="overflow-x-hidden flex w-full" data-scroll-slider-target="track">
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
             <%= image_tag("sq.png",class:"w-44 h-44 rounded-full mr-12 p-2 bg-gradient-to-tr from-mediumBlue to-instaPink") %>
        </div>
        <div class="h-full flex items-center justify-center ml-1">
        <div data-action="click->scroll-slider#scroll" 
          data-scroll-slider-direction-param="next" 
          data-scroll-slider-target="next" 
          class="w-16 h-16 bg-white border-4 border-slate-400 rounded-full hidden md:flex flex-col justify-center items-center z-10 cursor-pointer select-none">
          <%= image_tag("scroll-right-icon.svg", class: "vector-icons-l") %>
        </div>
        </div>
      </div>
            </div>
        </div>
        <div class="text-mediumBlue text-fos-h2 font-black mt-20">All Our Stories</div>
            <div class="text-steelGrey font-normal text-fos-h4 mt-2"> Curated by our best writers, here are all the founder stories you need to know!
            </div>
            <div class="filter-section flex mt-8 space-x-32">
                <div class="filter-table border-2 w-1/4 min-w-min rounded-lg h-fit">
                    <div class="p-4">
                        <div class="head flex w-full pb-2 border-b">
                            <%= image_tag("filt.svg",class:"mb-2") %>
                            <div class="pt-1 pl-2 text-fos-h4 font-normal text-darkGrey">Filters</div>
                        </div>
                        <div>
                            <div class="flex justify-between mt-8">
                                <div class="ml-2 text-fos-h4 text-darkGrey">Age</div>
                                <div class="text-fos-h5 text-darkGrey">Select All</div>
                            </div>
                            <div class="buttons flex mt-2 flex-wrap">
                                <button class="filter-button mb-2">20-25</button>
                                <button class="filter-button mb-2">20-25</button>
                                <button class="filter-button mb-2">20-25</button>
                                <button class="filter-button mb-2">20-25</button>
                                <button class="filter-button mb-2">20-25</button>
                                <button class="filter-button mb-2 ">20-25</button>
                                <button class="filter-button mb-2">20-25</button>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-between mt-4">
                                <div class="ml-2 text-fos-h4 text-darkGrey">Gender</div>
                                <div class="text-fos-h5 text-darkGrey">Select All</div>
                            </div>
                            <div class="buttons flex mt-2 flex-wrap">
                                <button class="filter-button mb-2">male</button>
                                <button class="filter-button mb-2 ">female</button>
                                <button class="mb-2 filter-button">other</button>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-between mt-4 flex-wrap">
                                <div class="ml-2 text-fos-h4 text-darkGrey">Did start on the side?</div>
                                <div class="text-fos-h5 text-darkGrey">Select All</div>
                            </div>
                            <div class="buttons flex mt-2 flex-wrap">
                                <button class="filter-button mb-2">started on the side</button>
                            </div>
                            <div class="buttons flex">
                                <button class="filter-button">quit job</button>
                            </div>

                        </div>
                        <div>
                            <div class="flex justify-between mt-4">
                                <div class="ml-2 text-fos-h4 text-darkGrey">Do they code ?</div>
                                <div class="text-fos-h5 text-darkGrey">Select All</div>
                            </div>
                            <div class="buttons flex mt-2">
                                <button class="filter-button">doesn't code</button>
                                <button class="filter-button">codes</button>
                            </div>
                        </div>
                        <div class="flex justify-center mt-12">
                                <button class="text-fos-h5 text-darkGrey">Clear All filters</button>
                        </div>
                    </div>
                </div>
                <div class="data w-3/4">
                    <div class="serach border-2 flex rounded-lg max-w-4xl">
                         <%= image_tag("search.svg",class:"ml-2") %>
                        <input type="text" placeholder="Search by founder's or company's name" class="focus:outline-none m-2 ml-4 pt-1 w-full placeholder-darkGrey text-fos-h4">
                    </div>
                <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4"> 
                    <div class="cards border mt-8 flex flex-wrap max-w-sm">
                        <%= image_tag("pr.svg")%>
                        <div class="box p-2 m-2">
                            <div class="text-fos-h4 font-bold">Pranay Chulet</div>
                            <div class="text-fos-h5 leading-3">Quickr</div>
                            <div class="text-fos-h5 text-darkGrey">Online Classifieds</div>
                            <div>Tags</div>
                        </div>
                        
                    </div>
                    <div class="cards border mt-8 flex flex-wrap  max-w-sm">
                        <%= image_tag("pr.svg")%>
                        <div class="box p-2 m-2">
                            <div class="text-fos-h4 font-bold">Pranay Chulet</div>
                            <div class="text-fos-h5 leading-3">Quickr</div>
                            <div class="text-fos-h5 text-darkGrey">Online Classifieds</div>
                            <div>Tags</div>
                        </div>
                        
                    </div>
                    <div class="cards border mt-8 flex flex-wrap  max-w-sm ">
                        <%= image_tag("pr.svg")%>
                        <div class="box p-2 m-2">
                            <div class="text-fos-h4 font-bold">Pranay Chulet</div>
                            <div class="text-fos-h5 leading-3">Quickr</div>
                            <div class="text-fos-h5 text-darkGrey">Online Classifieds</div>
                            <div>Tags</div>
                        </div>
                    
                    </div>
                    <div class="cards border mt-8 flex flex-wrap  max-w-sm">
                        <%= image_tag("pr.svg")%>
                        <div class="box p-2 m-2">
                            <div class="text-fos-h4 font-bold">Pranay Chulet</div>
                            <div class="text-fos-h5 leading-3">Quickr</div>
                            <div class="text-fos-h5 text-darkGrey">Online Classifieds</div>
                            <div>Tags</div>
                        </div>
                    
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>