<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.present? ? @title : "Buildd.co - Discover the best content on startups, tech & remote working" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= @meta_description.present? ? @meta_description : 'Find everything you need to know launch your startup faster - education, community, tools.' %>"/>

    <% if @meta_tags %>
      <% @meta_tags.each do |k,v| %>
        <meta name="<%= k %>" content="<%= v %>"/>
      <% end %>
    <% end %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if @canonical_url.present? %>
      <link rel="canonical" href="<%= @canonical_url %>"/>
    <% end %>

    <meta property="og:title" content="<% if yield(:meta_og_title).present? %><%= yield(:meta_og_title) %><% else %>Remote Clan<% end %>">
    <meta property="og:description" content="<% if yield(:meta_og_description).present? %><%= yield(:meta_og_description) %><% else %>Community to discuss, learn and grow remote work.<% end %>">
    <meta property="og:image" content="<% if yield(:meta_og_image).present? %><%= yield(:meta_og_image) %><% else %>https://ik.imagekit.io/remotetools/remoteness_calculator_logos/rc_screenshot_ANaQNZ1Zz.png<% end %>">
    <meta property="og:url" content="<% if yield(:meta_og_url).present? %><%= yield(:meta_og_url) %><% else %>https://remoteclan.com<% end %>">
    <meta property="og:site_name" content="<% if yield(:meta_og_site_name).present? %><%= yield(:meta_og_site_name) %><% else %>Remote Clan<% end %>">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="<% if yield(:meta_og_twitter_title).present? %><%= yield(:meta_og_twitter_title) %><% else %>Remote Clan<% end %>">
    <meta name="twitter:description" content="<% if yield(:meta_og_twitter_description).present? %><%= yield(:meta_og_twitter_description) %><% else %>Community to discuss, learn and grow remote work.<% end %>">
    <meta name="twitter:image" content="<% if yield(:meta_og_twitter_image).present? %><%= yield(:meta_og_twitter_image) %><% else %>https://ik.imagekit.io/remotetools/remoteness_calculator_logos/rc_screenshot_ANaQNZ1Zz.png<% end %>">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=G-92DE5Y7J2F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-92DE5Y7J2F');
    </script>

    <script async="async" defer="defer" src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% [ :error, :success, :notice ].each do |f| %>
      <% if flash[f].present? %>
        <div class="flash-<%= f %> max-w-4xl mx-auto sm:mt-4 mt-2"><%= flash[f] %></div>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
